CABOT_PLUGINS_ENABLED=cabot_alert_hipchat,cabot_alert_twilio,cabot_alert_email,cabot_alert_slack

DJANGO_SETTINGS_MODULE=cabot.settings

DATABASE_URL=postgres://postgres@postgres:5432/postgres
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//

# It will still log to STDOUT
LOG_FILE=/dev/null

HTTP_USER_AGENT=Cabot

SLACK_ALERT_CHANNEL=random
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/abc/def/xyz
SLACK_ICON_URL=http://lorempixel.com/40/40/

# Hostname of your Graphite server instance (including trailing slash)
GRAPHITE_API=http://graphite/
GRAPHITE_USER=admin
GRAPHITE_PASS=admin
